ul.bar {text-align: right;}
h2.title {padding:140px; font-family: Georgia, sans-serif; font-size: 50px; color: white; text-align: center;}
li.icon {display: inline; margin-right: 10px; font-size: 20px}
li {font-size: 20px; color: black;}
h3 {color:green; font-family: Georgia, sans-serif; font-size: 30px;}
p {color:black; text-align: left; font-size: 25px; font-family: 'garamond',serif; margin-right: 300px; margin-left: 50px;}
body {background-color: lemonchiffon;}
body {background-image: url("pic1.jpg"); height: 300px; background-position: center; background-repeat: no-repeat; background-size: cover; position: relative;}
button.Home {background-color: khaki;
  font-family:Georgia, serif;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;}
  button.About {background-color: khaki;
    font-family:Georgia, serif;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;}
    button:hover {
  background-color: #4CAF50;
  color: white;}
img{width: 275px;text-align: center;display:block; margin-left: auto; margin-right: auto; width: 35%}
@media screen and (min-width: 2000px) {
  body {
    background-color: peachpuff;}}
