ul.top {text-align: right;}
h2.title {padding:50px; font-family: Georgia, sans-serif; font-size: 50px; color: white; text-align: center;}
li {display: inline;margin-right: 10px; font-size: 20px}
h3 {color:green; font-family: Georgia, sans-serif; font-size: 30px; text-align: left;}
h4 {padding:60px; font-family: Georgia, sans-serif; font-size: 30px; color:white; text-align: center;}
p {color:black; text-align: left; font-size: 25px; font-family: 'garamond',serif; margin-right: 200px; margin-left: 50px;}
body {background-color: lemonchiffon;}
body {background-image: url("pic1.jpg"); height: 300px; background-position: center; background-repeat: no-repeat; background-size: cover; position: relative;}
li {color: white}
button.Home {background-color: khaki;
  font-family:Georgia, serif;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;}
  button.About {background-color: khaki;
    font-family:Georgia, serif;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;}
    button:hover {
  background-color: #4CAF50;
  color: white;}
  p.intro {padding: 85px; text-align: center; font-size: 30px; font-family: 'garamond',serif; margin-top: 150px; margin-bottom: 150px; margin-right: 150px; margin-left: 150px; border: 2px solid green;
  border-radius: 20px;}
img{width: 275px;text-align: left;display:block; margin-left: 100px; margin-right: auto; width: 45%}
img.reading {width: 275px;text-align: center;display:block; margin-left: auto; margin-right: auto; width: 55%}
